html {
  /* background-color: #34a65f; */
  color: #ffffff;
  font-family: sans-serif;
  font-size: calc(0.75em + 0.5vmin);
  background-image: url("background.png");
  background-size: cover;
}

main,
footer {
  max-width: 1280px;
  margin: 0 auto;
}

.top {
  display: flex;
}

.emojis {
  font-size: calc(0.75em + 10vmin);
  text-align: right;
}

a {
  color: #de2f32;
  text-shadow: 0.5px 0.5px white;
}

h1,
h2 {
  color: #de2f32;
  text-shadow: 2px 2px white;
  font-size: 3em;

  background-color: #000000aa;
}

p {
  background-color: #104030dd;
  padding: 10px;
  border-radius: 15px;
  line-height: 170%;
}

.message {
  color: yellow;
}

.title {
  font-size: 1.5em;
}

.tom {
  background-color: #00000088;
}
